# Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# Python (Backend & OCR)
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/
env/
backend/.env

# Général
*.log
.DS_Store
.env
.idea/
.vscode/
